@model List<SistemaFuncionariosMVC.Models.Funcionario>

<h2>Funcionários</h2>

<a asp-action="Criar" class="btn btn-primary">Novo Funcionário</a>

<table class="table mt-3">
    <tr>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Salário Base</th>
        <th>Salário Final</th>
        <th>Ações</th>
    </tr>
    
</table>